<!-- form.ejs -->

<h1>New Message</h1>
<form method="post" action="/new">
    <label>
      Name
      <input 
        type="text"
        name="name">
    </label>

    <label>
      Message
      <input 
        type="text"
        name="message">
    </label>
    <button type="submit">Submit</button>
</form>