<!-- message.ejs -->
 <!-- Page showing a single message -->
  <h3>
    <%= message.user %>
  </h3>
  <p>
    <%= message.text %>
  </p>
  <p>
    <%= message.added %>
  </p>

<%- include('../partials/navbar', {links: links}) %>